.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border: 5px solid black;
  background: cyan;
  backface-visibility: hidden;
}

.frontFace {
    background: white;
}
  
.frontFace{
    transform: rotateY(180deg);
}